/*********************************************************************************/
/*			                  Source History									 */
/*-------------------------------------------------------------------------------*/
/*2012-05-29|DW: Erste Version													 */
/*2012-06-02|DW: Box-shadow + grey-filter added									 */
/*********************************************************************************/


body {
	background:url("images/board.jpg");	
	background-size: 391px 100%;
	background-repeat: repeat-x;
	margin-left: 5em;
	
}	

p {
	font-family: Impact, Verdana, Arial;
	font-size: 16px;
}

img {
	min-height: 200px;
	min-width: 100px;
}

#image {
	float: right;
	margin-right: 300px;
	box-shadow: 0px 0px 8px #000000;					/*Schlagschatten*/
	-moz-box-shadow: 0px 0px 8px #000000;				/* Firefox */
	-webkit-box-shadow: 0px 0px 8px #000000; 			/* Chrome */
	border: 7px solid #ffffff;
	border-bottom: 18px solid #ffffff;
	filter: gray; 										/* GRAU - IE */
	filter: url(filters.svg#grayscale); 				/* Firefox */
    -webkit-filter: grayscale(1); 						/* Chrome */
}

#top {
	height:228px;
	width:900px;
	background:url("images/1.jpg");
	box-shadow: 10px 10px 8px #333;						/*Schlagschatten*/
	-moz-box-shadow: 10px 10px 8px #333; 				/* Firefox */
	-webkit-box-shadow: 10px 10px 8px #333; 			/* Chrome */
}

#fbName {
	font-size: 50px;
	-moz-transform: rotate(-20deg);
	-webkit-transform: rotate(-20deg);
}

#fbReward {
	font-size: 30px;
	float: right;
	-moz-transform: rotate(20deg);
	-webkit-transform: rotate(20deg);
}


.contentbg {
	background:url("images/2.jpg");
	background-size: 900px 100%;
	background-repeat: no-repeat;
	box-shadow: 0.625em 0.625em 0.500em #333;			/*Schlagschatten*/
	-moz-box-shadow: 0.625em 0.625em 0.500em #333; 		/* Firefox */
	-webkit-box-shadow: 0.625em 0.625em 0.500em #333; 	/* Chrome */
	min-height:798px;
	max-width: 900px;
}

#profileInfoTop, #profileInfoBottom  {
	font-size: 13px;				
	font-family: verdana;
	color: #4d4d4d;								/* Schriftfarbe */
	padding: 0 10px 0 10px;						/* innere Abstände oben/rechts/unten/links */
}

#profileInfoBottom {
	margin-top: 350px;
}

#bottom {
	height:248px;
	width:900px;
	background:url("images/3.jpg");
	box-shadow: 0.625em 0.625em 0.500em #333;			/*Schlagschatten*/
	-moz-box-shadow: 0.625em 0.625em 0.500em #333; 		/* Firefox */
	-webkit-box-shadow: 0.625em 0.625em 0.500em #333; 	/* Chrome */
}


h1 {
  font-family: Verdana;
  font-size: 1em;
  color: #4d4d4d;	
  text-decoration: underline;
}

h2 {
  font-size: 1em;
  font-family: Verdana;
  color: #4d4d4d;	
}
	
a {
  font-family: Verdana;
  font-size: 0.815em;
  font-weight: bold;
  color: #4d4d4d;
  padding-left: 10px;
}