/*********************************************************************************/
/*			                  Source History									 */
/*-------------------------------------------------------------------------------*/
/*2012-05-29|DW: Erste Version													 */
/*2012-06-02|DW: Box-shadow + grey-filter added									 */
/*********************************************************************************/


body {
	background:url("images/board.jpg");	
	background-size: 391px 100%;
	background-repeat: repeat-x;
	margin-left: 5em;
	
}	

#image {
	float: right;
	margin-right: 5em;
	box-shadow: 0.000em 0.0000em 0.700em #000000;			/*Schlagschatten*/
	-moz-box-shadow: 0.000em 0.0000em 0.700em #000000;		/* Firefox */
	-webkit-box-shadow: 0.000em 0.0000em 0.700em #000000; 	/* Chrome */
	border: 0.6em solid #ffffff;
	border-bottom: 1.5em solid #ffffff;
	filter: gray; 											/* GRAU - IE */
	filter: url(filters.svg#grayscale); 					/* Firefox */
    -webkit-filter: grayscale(1); 							/* Chrome */
}

#top {
	height:228px;
	width:900px;
	background:url("images/1.png");
	box-shadow: 10px -10px 6px -6px #333;			/* Schlagschatten rechts+oben */
	-moz-box-shadow: 10px -10px 6px -6px #333;		/* Firefox */
	-webkit-box-shadow: 10px -10px 6px -6px #333;	/* Chrome */
	font-size: 0.750em;				
	font-family: verdana;
	color: #ffffff;								/* Schriftfarbe */
}


.content {
	background:url("images/2.png");
	background-size: 900px 100%;
	background-repeat: no-repeat;
	box-shadow: 10px 0 6px -6px #333;			/* Schlagschatten rechts */
	-moz-box-shadow: 10px 0 6px -6px #333;		/* Firefox */
	-webkit-box-shadow: 10px 0 6px -6px #333;	/* Chrome */
	min-height:798px;
	max-width: 900px;
	//padding: 0 10px 0 10px;				/* innere Abstände oben/rechts/unten/links */
	font-size: 0.815em;				
	font-family: verdana;
	color: #4d4d4d;								/* Schriftfarbe */
}

#bottom {
	height:248px;
	width:900px;
	background:url("images/3.png");
	box-shadow: 10px 10px 6px -6px #333;			/* Schlagschatten unten+rechts */
	-moz-box-shadow: 10px 10px 6px -6px #333;		/* Firefox */
	-webkit-box-shadow: 10px 10px 6px -6px #333;	/* Chrome */
	font-size: 0.750em;				
	font-family: verdana;
	color: #ffffff;										/* Schriftfarbe */
}


h1 {
  font-family: Verdana;
  font-size: 1em;
  color: #4d4d4d;	
  text-decoration: underline;
}

h2 {
  font-size: 1em;
  font-family: Verdana;
  color: #008db5;	
}
	
a {
  font-family: Verdana;
  font-size: 0.815em;
  font-weight: bold;
  color: #4d4d4d;
}