@charset "utf-8";
/* CSS Document */

a {
  font-family: Verdana;
  font-size: 1em;
  font-weight: bold;
  color: #4d4d4d;
  padding-left: 10px;
}

p {
	font-family: Verdana, Arial;
	font-size: 12px;
}

h1 {
  font-family: Verdana;
  font-size: 2em;
  color: #4d4d4d;	
  text-decoration: underline;
}

h2 {
  font-size: 1em;
  font-family: Verdana;
  color: #4d4d4d;	
}

h3 {
  font-family: Verdana;
  color: #4d4d4d;	
}

#ueberschrift {
	float: left;
	margin-left: 100px; 
}

#info {
	clear:both;
	float: left;
	margin-left: 100px; 
}

#map {
	float: left; 
	margin-left: 100px;
}
#datenschutz {
	clear:both;
	float: left; 
	width:800px; 
	padding-left: 100px;
}